.bg-fifa{
    background-image: url(./images/fifa.jpg);
}
.bg-clash{
    background-image: url(/images/clash.jpg);
}
.bg-clashof{
    background-image: url(/images/clashofclaans.jpg);
}
.bg-cod{
    background-image: url(/images/cod.jpg);
}
.bg-codm{
    background-image: url(/images/codm.jpg);
}
.bg-ea{
    background-image: url(/images/ea.jpg);
}
.bg-es{
    background-image: url(/images/es-ronaldo.jpg);
}.bg-pubb{
    background-image: url(/images/pubb.jpg);
}
.bg-fast{
    background-image: url(/images/fast.jpg);
}
.bg-fifaa{
    background-image: url(/images/fif23.jpg);
}
.bg-fif{
    background-image: url(/images/fifa23.jpg);
}
.bg-fifp{
    background-image: url(/images/fifa233.jpg);
}
.bg-justice{
    background-image: url(/images/justice.jpg);
}
.bg-nfs{
    background-image: url(/images/nfss.jpg);
}
.bg-nnfs{
    background-image: url(/images/nnfs.jpg);
}
.bg-pes{
    background-image: url(/images/pes.jpg);
}
.bg-pes23{
    background-image: url(/images/pes23.jpg);
}
.bg-pubg{
    background-image: url(/images/pubg.jpg);
}

